@media screen and (max-width:1525px) {
    .container{
        position: relative;
    }
    .left{
        opacity: 1;
        position: absolute;
        left: -430px;
        z-index: 2;
        background-color: black;
        padding: 3px;
        border-radius: 4px;
        transition: left 0.5s;
    }
    .recent{
        display: none;
    }
    .right{
        margin-top: 3px ;
        width: 100vw;
        position: absolute;
        z-index: 1;
        max-height: 89vh;
    }

    .card-container{
        flex-wrap: wrap;
    }

    .invisible{
        display: block;
    }
}

@media screen and (min-width:950px) and (max-width: 1525px) {
    /* .recent{
        display: none;
    } */
    .card{
        width: 16%;
    }
}

@media screen and (max-width:640px){
    .playBlock{
        width: 48%;
    }
    .explorePremium{
        display: none;
    }
    .installApp{
        display: none;
    }
    #currSongName{
        opacity: 0;
    }
    #currSongSinger{
        opacity: 0;
    }
    .currSongimg{
        transform: scale(1.2);
        position: absolute;
        left: 10%;
        bottom:40%;   
    }
    .playingView, .multiplayer, .miniplayer, .queue, .favourite, #shuffle, #loop{
        display: none;
        /* opacity: 0; */
    }
    .volume{
        width: 40%;
    }
    .seekCon{
        width: 100%;
    }
    .col1{
        width: 20%;
    }
    .col2{
        width: 45%;
    }
    .col3{
        top:10%;
    }
}

@media screen and (max-width:431px){
    .playBlock{
        width: 100%;
    }
    .currSongimg{
        transform: scale(1);
        left:5%;
        top:10%;
    }
    .bottom{
        height: 13vh;
        z-index: 1;
    }
    .left{
        height: 87vh;
    }
    .right{
        height: 87vh;
    }
    .col3{
        position:absolute;
        top:70%;
        right: 30%;
    }

    .card{
        width:40%;
    }
}

@media screen and (max-width: 290px){
    .seekCon{
        width: 130%;
    }
    .col3{
        width: 70%;
        position:absolute;
        top:60%;
        right: 15%;
    }
    .backSVG , .nextSVG{
        display: none;
    }

}

@media screen and (max-height:700px){
    .bottom{
        height: 20vh;
        z-index: 5;
    }
    .left{
        height: 80vh;
    }
    .right{
        height: 80vh;
    }
    .currSongimg{
        transform: scale(0.8);
    }
}

@media screen and (max-width:937px){
    .block-info img{
        display: none;
    }
}

@media screen and (max-width:750px){
    .block-info{
        display: none;
    }
    .block-text{
        width: 80px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 717px){
    .block-text{
        display: none;
    }
    .list{
        width: 100%;
        gap: 50px;
    }
    .block{
        justify-content: center;
        /* height: 80px; */
    }
    .block img{
        transform: scale(3);
    }
}

@media screen and (max-width: 677px){
    .box{
        display: none;
    }
    .sec p{
        display: none;
    }
}

@media screen and (max-width: 450px){
    .left{
        width:80px;
    }
    .playlist , .flex-container{
        width: 100%;
    }
    .white p{
        display: none;
    }
    ul li:nth-child(3) p{
        display: none;
    }
    .flex-container{
        gap:10px;
    }
    .block img{
        border: 0px;
        width:55px;
        height: 55px;
        transform: scale(1);
        margin-right: 5px;
    }
    .list{
        gap:2px;
        height: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
      }
}