@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black; 
    overflow: hidden;  
}
.container{
    display: flex;
    margin-top: 4px;
    max-height: 100vh;
}

.left{
    width: 28vw;
    margin: 4px;
    height: 88vh;
}

.right{
    width: 72vw;
    margin: 2px;
}

.home ul li{
    list-style-type: none;
    width: 27px;
    display: flex;
    margin: 19px;
    gap:22px;
    align-items: center;
    color: #a2a2a2;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.home ul li:hover{
    cursor: pointer;
}

img.white{
    filter: invert(1);
}

ul li.white{
    color:white;
}

.home ul{
    background-color: #121212;
    padding: 4px;
    border-radius: 8px;
}

img.invert{
    filter: invert(82%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(99%) contrast(100%);
}

.library{
    width: 100%;
    gap: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #a2a2a2;
    white-space: nowrap;
    display: flex;
    position: relative;
}

.playlist{
    background-color: #121212;
    border-radius: 8px;
    height: 100%;
    width:28vw;
    margin-top: 7px;
    display: flex;
    flex-direction: column;

}

.heading{
    width:27px;
    display: flex;
    gap:16px;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.sec{
    width:27px;
    display: flex;
    gap:16px;
    text-align: center;
    align-items: center;
}

.sec:hover{
    cursor: default;
}

.box{
    position: absolute;
    width: 17px;
    right: 63px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border:0px;
    border-radius: 999px;
    padding: 9px;

}

.arrow{
    position: absolute;
    width: 17px;
    right: 17px;
}

.plus:hover , .arrow:hover{
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .box{
        right:12px;
    }
    .arrow{
        display: none;
    }
}


.home ul li:hover{
    color:white;
    text-shadow: 0 0 1px white;
    img.invert{
        filter:invert(1);
    }
}

.sec:hover{
    color:white;
    img.white{
        filter:invert(1);
    }
}

.box:hover{
    img.plus{
        filter:invert(1);
    }
    background-color: #181818;
}

.playButton{
    margin:2px;
    padding-left: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 18px;
}

.button{
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    border-radius: 9999px;
    color: white;
    background-color: #232323;
    font-size: 13px;
}

.button:hover{
    background-color: #2A2929;
    cursor:pointer;
}

