@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.right{
    max-height: 88vh;
    background-color: #121212;
    border-radius: 8px;
    margin-top: 4px;
    margin-right: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rightHead{
    display: flex;
    margin-top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px;
    padding-left: 24px;
    align-items: center;
    gap:10px;
    position: relative;
    background-color: #2d1918;
}

.rightHead img{
    width: 17px;
}

.nextAfter{
    display: flex;
    gap: 15px;
}

.backSVG, .nextSVG{
    border:0px;
    background-color: #1a0e0e;
    display: flex;
    justify-content: center;
    padding: 9px;
    border-radius: 999px;
    width:17px
}

.slider{
    /* display: none; */
    /* opacity: 0; */
    border:0px;
    background-color: #1a0e0e;
    display: flex;
    justify-content: center;
    padding: 9px;
    border-radius: 999px;
    width:17px
}

.invisible{
    display: none;
}

.backSVG:hover , .nextSVG:hover{
    cursor: pointer;
}

.headerButtons{
    display: flex;
    /* align-self: left; */
    color: white;
    gap:10px;
    position: absolute;
    right: 35px;
    align-items: center;
}

.headerButtons>:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.headerButtons img{
    width:17px;
}

.explorePremium{
    display:flex;
    border: 0px;
    background-color: #ffffff;
    color: black;
    padding: 8px;
    /* width: 30px; */
    border-radius: 2830px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size: 15px;
}

.installApp{
    font-family: 'Roboto', sans-serif;
    display:flex;
    gap:3px;
    border:0px;
    padding: 8px;
    border-radius: 2830px;
    background-color: #160b0b;
    font-size: 15px;
}

.bell{
    border:0px;
    background-color: #1a0e0e;
    display: flex;
    justify-content: center;
    padding: 9px;
    border-radius: 999px;
    width:14px
}

.profileIcon{
    border:0px;
    background-color: #1a0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 999px;
    width:14px;
    height: 14px;
    position: relative;
}

.profileIcon img{
    margin: 0px;
    width: 30px;
    position: absolute;
}

.goodAfternoon{
    color: white;
    padding: 5px;
    padding-left: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    background-color: #2d1918;
}

.goodAfternoon:hover{
    cursor: default;
}

.rightPlay{
    background-color: #2d1918;
}

.blockContain{
    padding-top: 4px;
    display: flex;
    width: 95%;
    margin-left: 18px;
    flex-wrap: wrap;
}

.playBlock{
    margin:4px;
    background-color: #332726;
    width:32%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight:700;
    border-radius: 5px;
    position: relative;

}

.playBlock img{
    width:60px;
    border-radius: 5px;
    height: 100%;
}

.playimg{
    display: flex;
    position: absolute;
    right:10px;
    border: 0px;
    width: 20px;
    padding: 9px;
    background-color: #65D46E;
    border-radius: 999px;
    box-shadow: 0 2px 4px black;
    opacity: 0;
}

.hover-prop{
    opacity: 1;
}

.playBlock:hover{
    .playimg{
        opacity: 1;
    }
    background-color: #504545;
    cursor: default;
}

.playimg img{
    width:24px;
}

.playimg img:hover{
    cursor: pointer;
}

.recommendation{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap:13px;
}

.topMixes{
    width: 100%;
    height: fit-content;
}

.topMixes-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    height: fit-content;
}

.title{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 22px;
    padding-bottom: 12px;
    background: linear-gradient(to bottom, #2d1918, #121212);
}

.title span{
    font-size: 0.9rem;
    color: #b3b3b3;
    font-weight: 600;
}

.title span:hover , .title h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 25px;
    padding-right: 22px;
    padding-bottom: 12px;
    gap:25px;
    align-items: center;
    height: fit-content;
}

.card{
    background-color: #181818;
    width: 175px;
    height: 270px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 260px; */
    /* height:100%; */
    padding: 5px;
    position: relative;
}

.card-body{
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    gap: 6px;
    overflow: hidden;
    height: 30%;
    /* justify-content: flex-start; */
    width: 100%;
    padding-left: 8px;
}

.card img{
    padding-top: 8px;
    width: 92%;
    height: 57%;
    /* size:92%; */
    border-radius: 20px;
    padding-bottom: 15px;
}

.card-body h5{
    font-size: 17px;
}

.card-text{
    height: 50%;
    line-height: 20px;
    overflow:hidden;
    font-size: 15px;
    font-weight: 200;
    color: #aeaeae;
}

.card-play {
    background-color: #65D46E;
    border: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 4px black;
    position: absolute;
    padding: 2px;
    text-align: center;
    right: 18px;
    bottom: 95px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.card-play img {
    padding-top: 14px;
    width: 47%;
    height: auto;
}

.card:hover{
    background-color: #272727;
    cursor: pointer;
    .card-play{
        opacity: 1;
        bottom: 110px;
    }
}

.card-play:hover{
    transform: scale(1.1);
}

#topMixes{
    background-color: #181818;
}

.title2{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 22px;
    padding-bottom: 12px;
    background: #121212
}

.title2 span{
    font-size: 0.9rem;
    color: #b3b3b3;
    font-weight: 600;
}

.title2 span:hover , .title2 h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
